ServiceRequester/Web References/RNG/DataExchangeSoapBinding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dataexchange.org" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" name="DataExchangeSoapBinding" targetNamespace="http://www.dataexchange.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.dataexchange.org">
      <xs:complexType name="ВыполнитьАлгоритмИПолучитьРезультат">
        <xs:sequence>
          <xs:element minOccurs="0" name="Идентификатор" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ПараметрыАлгоритма" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="СжиматьРезультат" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="РежимОтладки" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ВыполнитьАлгоритмИПолучитьРезультатResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ВыполнитьАлгоритмИПолучитьРезультатResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ВыполнитьАлгоритмИПолучитьРезультат" type="tns:ВыполнитьАлгоритмИПолучитьРезультат" />
      <xs:element name="ВыполнитьАлгоритмИПолучитьРезультатResponse" type="tns:ВыполнитьАлгоритмИПолучитьРезультатResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ВыполнитьАлгоритмИПолучитьРезультат">
    <wsdl:part name="ВыполнитьАлгоритмИПолучитьРезультат" element="tns:ВыполнитьАлгоритмИПолучитьРезультат" />
  </wsdl:message>
  <wsdl:message name="ВыполнитьАлгоритмИПолучитьРезультатResponse">
    <wsdl:part name="ВыполнитьАлгоритмИПолучитьРезультатResponse" element="tns:ВыполнитьАлгоритмИПолучитьРезультатResponse" />
  </wsdl:message>
  <wsdl:portType name="DataExchangeSoapBinding">
    <wsdl:operation name="ВыполнитьАлгоритмИПолучитьРезультат" parameterOrder="ВыполнитьАлгоритмИПолучитьРезультат">
      <wsdl:input name="ВыполнитьАлгоритмИПолучитьРезультат" message="tns:ВыполнитьАлгоритмИПолучитьРезультат" />
      <wsdl:output name="ВыполнитьАлгоритмИПолучитьРезультатResponse" message="tns:ВыполнитьАлгоритмИПолучитьРезультатResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataExchangeSoapBinding" type="tns:DataExchangeSoapBinding">
    <wsdlsoap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ВыполнитьАлгоритмИПолучитьРезультат">
      <wsdlsoap11:operation soapAction="ВыполнитьАлгоритмИПолучитьРезультат" style="document" />
      <wsdl:input name="ВыполнитьАлгоритмИПолучитьРезультат">
        <wsdlsoap11:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ВыполнитьАлгоритмИПолучитьРезультатResponse">
        <wsdlsoap11:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataExchange">
    <wsdl:port name="DataExchangeSoapBinding" binding="tns:DataExchangeSoapBinding">
      <wsdlsoap11:address location="http://127.0.0.1:8000/DataExchange/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>